<h1 class="mb-4">Cadastro</h1>

<form action="/register" method="POST" class="w-50 mx-auto">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" id="nome" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" id="senha" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="confirmSenha" class="form-label">Confirmar Senha</label>
        <input type="password" name="confirmSenha" id="confirmSenha" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Registrar</button>
</form>

<div class="mt-3 text-center">
    <p>Já possui conta? <a href="/">Faça login</a></p>
</div>