.dashboard-container {
  max-width: 1100px;
  margin: 40px auto;
  background-color: #111827;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn-action {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-edit {
  background-color: #2563eb;
  color: white;
}

.btn-delete {
  background-color: #dc2626;
  color: white;
}

.form-card {
  background-color: #111827;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
}

.form-card label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-card input,
.form-card select,
.form-card textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: #1f2937;
  color: #fff;
}

.form-card button {
  width: 50%;
  padding: 12px;
  background-color: #94c63d;
  border: none;
  border-radius: 6px;
  color: #0c3b50;
  font-weight: bold;
  cursor: pointer;
}

.form-card button:hover {
  background-color: #82b33a;
}
